#APP SETUP
COMPANY_NAME= Haraka Sana
TIME_ZONE=Africa/Nairobi
ALLOW_HOSTS=http://127.0.0.1:8000,http://127.0.0.1:3000
STAFF_PORTAL=http://127.0.0.1:3000
APP_MODE=debug #release in prod
SECRET_KEY=
FRONTEND_URL=http://localhost:3000

#DATABASE
POSTGRES_PASSWORD=haraka-sana
POSTGRES_USER=harakaSana
POSTGRES_DB=haraka_sana
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

#valkey
VALKEY_ADDRESS=127.0.0.1:6379

#EMAILER
SMTP_CLIENT=logs #ie. smtppro.zoho.com in prod
SMTP_PORT=587
EMAIL_FROM=someemail@domain.com
SMTP_PASSWORD=verysecurepassword
EMAIL_IDENTITY=someemail
