#app setup
COMPANY_NAME= Haraka Sana
TIME_ZONE=Africa/Nairobi
ALLOW_HOSTS=http://127.0.0.1:8000,http://127.0.0.1:3000
APP_MODE=debug #release in prod
SECRET_KEY=
FRONTEND_URL=http://localhost:3000
COMPANY_LOGO=http://localhost:3000

#database
POSTGRES_PASSWORD=haraka-sana
POSTGRES_USER=harakaSana
POSTGRES_DB=haraka_sana
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
