<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

</head>

<body>
<p>
    Hello {{.Name}},
    <br>
    You have received this email because someone has created an account for you at
    {{.Company}},
    If you do not recognize this action, please ignore this email, otherwise
    <a href="{{.Link}}">set password</a> for your account
</p>
Or Copy and Paste the following link into your browser:
<p>
    {{.Link}}
</p>
<p>
    If you did not make this request, please ignore this email.
    Your password will not be changed.
</p>
<p>
    Best regards {{.Company}}
</p>

</body>
</html>
